/*
*  Hi~
*
*  The theme Another Oneline uses code from
*  👉 https://github.com/JarnotMaciej/Essence 👈 Thank you~~ 🤗
    and
   👉 https://github.com/datguypiko/Firefox-Mod-Blur 👈 Thank you~~ 🤗
*
*  Custom edits and fine-tuning by sepl 
*/

/* Menu button */
#PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
  order: -2 !important;
  margin: 2px !important;
  margin-right: 20px !important;
  /* display: none !important; /* uncomment this line to hide the menu button */
}

.titlebar-close,
.titlebar-min {
  width: 1px !important;
  transition: 0 !important;
}

.titlebar-max,
.titlebar-restore {
  display: none !important;
}

/* Extension name inside URL bar */
#identity-box.extensionPage #identity-icon-label {
  visibility: collapse !important;
}

/* All tabs (v-like) button */
#alltabs-button {
  display: none !important;
}

/* URL bar icons */
#identity-permission-box,
#star-button-box,
#identity-icon-box,
#picture-in-picture-button,
#tracking-protection-icon-container,
#reader-mode-button,
#translations-button {
  display: none !important;
}

/* "This time search with:..." */
#urlbar .search-one-offs {
  display: none !important;
}

/* Space before and after tabs */
.titlebar-spacer {
  display: none;
}

/* --- ~END~ element visibility section --- */

/* Navbar size calc */
:root {
  --tab-border-radius: 4px !important;
  /*  Tab border radius -- Changes the tabs rounding  */
  /*  Default: 6px  */
  --NavbarWidth: 50;
  /*  Default values: 36 - 43  */
  --TabsHeight: 30;
  /*  Minimum: 30  */
  /*  Default: 36  */
  --TabsBorder: 10;
  /*  Doesnt do anything on small layout  */
  /*  Default: 8  */
  --NavbarHeightSmall: calc(var(--TabsHeight) + var(--TabsBorder));
  /*  Only on small layout  */
  /*  Default: calc(var(--TabsHeight) + var(--TabsBorder))  */
  /*  Default as a number: 44  */

}

.tabbrowser-tab {
  min-width: 120px !important;
  max-width: 120px !important;
  padding: 0 !important;
}

/* tab groups */
tab-group[collapsed]>.tabbrowser-tab {
  visibility: collapse !important;
  min-width: 0 !important;
  max-width: 0 !important;
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  flex: 0 0 auto !important;
}

@media screen and (min-width: 1325px)
/* Only the tabs space will grow from here */
  {
  :root #nav-bar {
    margin-top: calc(var(--TabsHeight) * -1px - var(--TabsBorder) * 1px) !important;
    height: calc(var(--TabsHeight) * 1px + var(--TabsBorder) * 1px);
  }

  #TabsToolbar {
    margin-left: calc(1325px / 100 * var(--NavbarWidth)) !important;
  }

  #nav-bar {
    margin-right: calc(100vw - calc(1325px / 100 * var(--NavbarWidth))) !important;
    vertical-align: center !important;
  }

  #urlbar-container {
    min-width: 0px !important;
    flex: auto !important;
  }

  toolbarspring {
    display: none !important;
  }
}

@media screen and (min-width: 950px) and (max-width: 1324px)
/* Both the tabs space and the navbar will grow */
  {
  :root #nav-bar {
    margin-top: calc(var(--TabsHeight) * -1px - var(--TabsBorder) * 1px) !important;
    height: calc(var(--TabsHeight) * 1px + var(--TabsBorder) * 1px);
  }

  #TabsToolbar {
    margin-left: calc(var(--NavbarWidth) * 1vw) !important;
  }

  #nav-bar {
    margin-right: calc(100vw - calc(var(--NavbarWidth) * 1vw)) !important;
    vertical-align: center !important;
  }

  #urlbar-container {
    min-width: 0px !important;
    flex: auto !important;
  }

  toolbarspring {
    display: none !important;
  }

  #TabsToolbar,
  #nav-bar {
    transition: margin-top 0.25s !important;
  }
}

@media screen and (max-width: 949px)
/* The window is not enough wide for a one line layout */
  {
  :root #nav-bar {
    padding: 0 5px 0 5px !important;
    height: calc(var(--NavbarHeightSmall) * 1px) !important;
  }

  toolbarspring {
    display: none !important;
  }

  #TabsToolbar,
  #nav-bar {
    transition: margin-top 0.25s !important;
  }
}

#nav-bar,
#PersonalToolbar {
  background-color: #0000 !important;
  background-image: none !important;
  box-shadow: none !important;
}

#nav-bar {
  margin-left: 3px;
}

.tab-background,
.tab-stack {
  min-height: calc(var(--TabsHeight) * 1px) !important;
}

/*  Removes annoying border  */
#navigator-toolbox {
  border: none !important;
}

/* Fades window while not in focus */
#navigator-toolbox-background:-moz-window-inactive {
  filter: contrast(90%);
}

/* Remove fullscreen warning border */
#fullscreen-warning {
  border: none !important;
  background: -moz-Dialog !important;
}

/* Tabs: sekmenin yanındaki (X) tuşunu kapar */
.tab-close-button {
  display: none !important;
}

/* Tabs: yeni sekme açma (+) butonunu gizle */
#tabs-newtab-button {
  display: none !important;
}

/* url bar açıldığındaki uzunluk */
.urlbarView {
  position: fixed !important;
  top: inherit;
  left: 0 !important;
  margin: var(--urlbar-container-height) 0 0 0 !important;
  width: 50vw !important;
  border-width: 1px 0;
  background-color: var(--toolbar-field-focus-background-color, inherit);
}

/*extension menu */

/*  Clean and tight extensions menu */
#unified-extensions-panel #unified-extensions-view {
  width: 100% !important;
  /*  For firefox v115.x */
}

#unified-extensions-view {
  --uei-icon-size: 22px;
  /*  Change icon size */
  --firefoxcss-number-of-extensions-in-a-row: 4;
  /*  Increase to the number of icons you want in one row */
}

#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header+toolbarseparator,
#unified-extensions-view .panel-subview-body+toolbarseparator,
#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton,
#unified-extensions-view .unified-extensions-item-action-button .unified-extensions-item-contents {
  display: none !important;
}

@media -moz-pref,
("mod.hide.manage-extensions.button") {
  #unified-extensions-view #unified-extensions-manage-extensions {
    display: none !important;
  }
}

@media not -moz-pref,
("mod.hide.manage-extensions.button") {
  #unified-extensions-manage-extensions>.toolbarbutton-text {
    display: none !important;
  }

  #unified-extensions-manage-extensions::after {
    content: "";
    display: block;
    height: 2px;
    /* Thickness of your line */
    width: 50%;
    /* Or 100%, adjust as you like */
    margin: auto;
    background-color: light-dark(black, white);
    /* Auto adapted color */
    border-radius: 6px;
    /* Rounded ends */
    opacity: 0.2;
  }

  #unified-extensions-manage-extensions {
    min-height: 12px !important;
    margin-bottom: 4px !important;
  }
}

#unified-extensions-view .unified-extensions-item .unified-extensions-item-icon,
#unified-extensions-view .unified-extensions-item .toolbarbutton-badge-stack {
  margin-inline-end: 0px !important;
}

#unified-extensions-view .panel-subview-body {
  padding: 4px !important;
}

#unified-extensions-view:is(panelview, #widget-overflow-fixed-list) .toolbaritem-combined-buttons {
  margin: 2px !important;
}

#unified-extensions-view .unified-extensions-item .unified-extensions-item-action-button {
  padding: 6px !important;
}

#unified-extensions-view #overflowed-extensions-list,
#unified-extensions-view #unified-extensions-area,
#unified-extensions-view .unified-extensions-list {
  display: grid !important;
  grid-template-columns: repeat(var(--firefoxcss-number-of-extensions-in-a-row),
      auto);
  justify-items: left !important;
  align-items: left !important;
}

#unified-extensions-view .unified-extensions-list .unified-extensions-item,
#unified-extensions-view .unified-extensions-list {
  max-width: max-content;
}

@media not -moz-pref("mod.disable.extensions-menu.separator") {
  @media not -moz-pref("mod.hide.faded-extensions.inside.extensions-menu") {
    #unified-extensions-view #unified-extensions-area:has(+ .unified-extensions-list .unified-extensions-item) {
      padding-bottom: 6px !important;
      margin-bottom: 2px !important;
      border-bottom: 1px solid #aeaeae33 !important;
    }
  }
}
